# Load and inspect the data.

In [41]:
import pandas as pd #we are importing pandas

In [42]:
filepath= "Group Data/crop census.csv"#we are loading our csv file into jupyter notebook
df=pd.read_csv(filepath)

In [43]:
df.head() #we are inspeting the 1st five rows

,County/Sub County,Total,Farming,Crop Production,Livestock Production,Aquaculture,Fishing,Irrigation,Maize,Sorghum,...,Camels,Donkeys,Pigs,Indigenous Chicken,Exotic Chicken Layers,Exotic Chicken Broilers,Beehives,Rabbits,Fish Ponds,Fish Cages
0,KENYA,12143913,6354211.0,5555974,4729288,29325,109640,369679,5104967.0,904945.0,...,167666.0,500682,110383.0,3337700,194517,79461,201406,124122,22019.0,3361.0
1,MOMBASA,378422,12497.0,7218,8749,128,1409,958,5681.0,NaN,...,6.0,36,134.0,6142,743,998,68,186,83.0,24.0
2,CHANGAMWE,46614,618.0,230,476,6,62,36,108.0,NaN,...,0.0,1,7.0,350,53,78,1,14,6.0,0.0
3,JOMVU,53472,2418.0,1168,1810,12,132,209,895.0,NaN,...,0.0,11,37.0,1296,157,199,6,30,8.0,3.0
4,KISAUNI,88202,6257.0,4043,4269,67,492,402,3456.0,NaN,...,4.0,8,76.0,3016,280,411,41,79,37.0,11.0

#  Clean and prepare the data.

In [44]:
df[df.isnull().any(axis=1)] # we are findind the missing values from exact rows

,County/Sub County,Total,Farming,Crop Production,Livestock Production,Aquaculture,Fishing,Irrigation,Maize,Sorghum,...,Camels,Donkeys,Pigs,Indigenous Chicken,Exotic Chicken Layers,Exotic Chicken Broilers,Beehives,Rabbits,Fish Ponds,Fish Cages
1,MOMBASA,378422,12497.0,7218,8749,128,1409,958,5681.0,NaN,...,6.0,36,134.0,6142,743,998,68,186,83.0,24.0
2,CHANGAMWE,46614,618.0,230,476,6,62,36,108.0,NaN,...,0.0,1,7.0,350,53,78,1,14,6.0,0.0
3,JOMVU,53472,2418.0,1168,1810,12,132,209,895.0,NaN,...,0.0,11,37.0,1296,157,199,6,30,8.0,3.0
4,KISAUNI,88202,6257.0,4043,4269,67,492,402,3456.0,NaN,...,4.0,8,76.0,3016,280,411,41,79,37.0,11.0
5,LIKONI,81191,1863.0,1136,1282,21,439,143,863.0,NaN,...,0.0,5,7.0,870,124,140,11,33,16.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,MAKADARA,70361,639.0,199,503,4,14,45,106.0,NaN,...,5.0,51,371.0,106,63,4,34,2,1.0,NaN
389,MATHARE,74967,735.0,298,560,6,28,62,178.0,0.0,...,15.0,42,381.0,120,69,12,33,4,2.0,NaN
390,NJIRU,204563,10642.0,4642,8484,46,117,886,2950.0,0.0,...,141.0,364,6636.0,1125,607,20,418,39,5.0,NaN
391,STAREHE,69389,483.0,279,316,14,22,63,158.0,NaN,...,7.0,10,230.0,57,34,9,19,7,2.0,NaN
392,WESTLANDS,104980,1800.0,1292,902,37,70,303,738.0,NaN,...,4.0,48,584.0,162,81,13,47,27,9.0,NaN

df.columns  ### we are listing the columns

In [45]:
df.columns #we are listing columns

Index(['County/Sub County', 'Total', 'Farming', 'Crop Production',
       'Livestock Production', 'Aquaculture', 'Fishing', 'Irrigation', 'Maize',
       'Sorghum', 'Rice', 'Potatoes', 'Beans', 'Cassava', 'Sweet Potatoes',
       'Wheat', 'Green grams', 'Bananas', 'Cabbages', 'Tomatoes', 'Onions',
       'Ground Nuts', 'Millet', 'Watermelons', 'Kales', 'Sugarcane', 'Cotton',
       'Exotic cattle 0Dairy', 'Exotic cattle 0Beef', 'Indigenous cattle',
       'Sheep', 'Goats', 'Camels', 'Donkeys', 'Pigs', 'Indigenous Chicken',
       'Exotic Chicken Layers', 'Exotic Chicken Broilers', 'Beehives',
       'Rabbits', 'Fish Ponds', 'Fish Cages'],
      dtype='object')

In [46]:
average=0
df.fillna(value={'Total':average,'Farming':average,'Crop Production':average},inplace=True)

In [47]:
df[df.isnull().any(axis=1)]

,County/Sub County,Total,Farming,Crop Production,Livestock Production,Aquaculture,Fishing,Irrigation,Maize,Sorghum,...,Camels,Donkeys,Pigs,Indigenous Chicken,Exotic Chicken Layers,Exotic Chicken Broilers,Beehives,Rabbits,Fish Ponds,Fish Cages
1,MOMBASA,378422,12497.0,7218,8749,128,1409,958,5681.0,NaN,...,6.0,36,134.0,6142,743,998,68,186,83.0,24.0
2,CHANGAMWE,46614,618.0,230,476,6,62,36,108.0,NaN,...,0.0,1,7.0,350,53,78,1,14,6.0,0.0
3,JOMVU,53472,2418.0,1168,1810,12,132,209,895.0,NaN,...,0.0,11,37.0,1296,157,199,6,30,8.0,3.0
4,KISAUNI,88202,6257.0,4043,4269,67,492,402,3456.0,NaN,...,4.0,8,76.0,3016,280,411,41,79,37.0,11.0
5,LIKONI,81191,1863.0,1136,1282,21,439,143,863.0,NaN,...,0.0,5,7.0,870,124,140,11,33,16.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,MAKADARA,70361,639.0,199,503,4,14,45,106.0,NaN,...,5.0,51,371.0,106,63,4,34,2,1.0,NaN
389,MATHARE,74967,735.0,298,560,6,28,62,178.0,0.0,...,15.0,42,381.0,120,69,12,33,4,2.0,NaN
390,NJIRU,204563,10642.0,4642,8484,46,117,886,2950.0,0.0,...,141.0,364,6636.0,1125,607,20,418,39,5.0,NaN
391,STAREHE,69389,483.0,279,316,14,22,63,158.0,NaN,...,7.0,10,230.0,57,34,9,19,7,2.0,NaN
392,WESTLANDS,104980,1800.0,1292,902,37,70,303,738.0,NaN,...,4.0,48,584.0,162,81,13,47,27,9.0,NaN

In [48]:
average=0
df.fillna(value={'Sorghum':average,'Fish Cages':average},inplace=True)  #Here we are assigning missing values with 0

In [49]:
df[df.isnull().any(axis=1)] # Here we are replacing missing values in the whole dataset with 0

,County/Sub County,Total,Farming,Crop Production,Livestock Production,Aquaculture,Fishing,Irrigation,Maize,Sorghum,...,Camels,Donkeys,Pigs,Indigenous Chicken,Exotic Chicken Layers,Exotic Chicken Broilers,Beehives,Rabbits,Fish Ponds,Fish Cages
1,MOMBASA,378422,12497.0,7218,8749,128,1409,958,5681.0,0.0,...,6.0,36,134.0,6142,743,998,68,186,83.0,24.0
2,CHANGAMWE,46614,618.0,230,476,6,62,36,108.0,0.0,...,0.0,1,7.0,350,53,78,1,14,6.0,0.0
3,JOMVU,53472,2418.0,1168,1810,12,132,209,895.0,0.0,...,0.0,11,37.0,1296,157,199,6,30,8.0,3.0
4,KISAUNI,88202,6257.0,4043,4269,67,492,402,3456.0,0.0,...,4.0,8,76.0,3016,280,411,41,79,37.0,11.0
5,LIKONI,81191,1863.0,1136,1282,21,439,143,863.0,0.0,...,0.0,5,7.0,870,124,140,11,33,16.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,MAKADARA,70361,639.0,199,503,4,14,45,106.0,0.0,...,5.0,51,371.0,106,63,4,34,2,1.0,0.0
389,MATHARE,74967,735.0,298,560,6,28,62,178.0,0.0,...,15.0,42,381.0,120,69,12,33,4,2.0,0.0
390,NJIRU,204563,10642.0,4642,8484,46,117,886,2950.0,0.0,...,141.0,364,6636.0,1125,607,20,418,39,5.0,0.0
391,STAREHE,69389,483.0,279,316,14,22,63,158.0,0.0,...,7.0,10,230.0,57,34,9,19,7,2.0,0.0
392,WESTLANDS,104980,1800.0,1292,902,37,70,303,738.0,0.0,...,4.0,48,584.0,162,81,13,47,27,9.0,0.0

In [50]:
df[df.duplicated()] #Here we are checking for duplicates in the whole dataset

Empty DataFrame
Columns: [County/Sub County, Total, Farming, Crop Production, Livestock Production, Aquaculture, Fishing, Irrigation, Maize, Sorghum, Rice, Potatoes, Beans, Cassava, Sweet Potatoes, Wheat, Green grams, Bananas, Cabbages, Tomatoes, Onions, Ground Nuts, Millet, Watermelons, Kales, Sugarcane, Cotton, Exotic cattle 0Dairy, Exotic cattle 0Beef, Indigenous cattle, Sheep, Goats, Camels, Donkeys, Pigs, Indigenous Chicken, Exotic Chicken Layers, Exotic Chicken Broilers, Beehives, Rabbits, Fish Ponds, Fish Cages]
Index: []

[0 rows x 42 columns]

In [51]:
df.drop(columns=['Cotton'], inplace=True) #Here we are dropping column cotton

In [52]:
df.head() #here we are confirming if cotton is dropped

,County/Sub County,Total,Farming,Crop Production,Livestock Production,Aquaculture,Fishing,Irrigation,Maize,Sorghum,...,Camels,Donkeys,Pigs,Indigenous Chicken,Exotic Chicken Layers,Exotic Chicken Broilers,Beehives,Rabbits,Fish Ponds,Fish Cages
0,KENYA,12143913,6354211.0,5555974,4729288,29325,109640,369679,5104967.0,904945.0,...,167666.0,500682,110383.0,3337700,194517,79461,201406,124122,22019.0,3361.0
1,MOMBASA,378422,12497.0,7218,8749,128,1409,958,5681.0,0.0,...,6.0,36,134.0,6142,743,998,68,186,83.0,24.0
2,CHANGAMWE,46614,618.0,230,476,6,62,36,108.0,0.0,...,0.0,1,7.0,350,53,78,1,14,6.0,0.0
3,JOMVU,53472,2418.0,1168,1810,12,132,209,895.0,0.0,...,0.0,11,37.0,1296,157,199,6,30,8.0,3.0
4,KISAUNI,88202,6257.0,4043,4269,67,492,402,3456.0,0.0,...,4.0,8,76.0,3016,280,411,41,79,37.0,11.0

In [53]:
df.to_csv('Group Data/cleaned_assignment.csv',index=False) #Here we are saving the cleaned data to our folder

In [55]:
df.fillna(value=0,inplace=True)

In [56]:
df.describe()

,Total,Farming,Crop Production,Livestock Production,Aquaculture,Fishing,Irrigation,Maize,Sorghum,Rice,...,Camels,Donkeys,Pigs,Indigenous Chicken,Exotic Chicken Layers,Exotic Chicken Broilers,Beehives,Rabbits,Fish Ponds,Fish Cages
count,3.930000e+02,3.930000e+02,3.930000e+02,3.930000e+02,393.000000,393.000000,393.000000,3.930000e+02,393.000000,393.000000,...,393.000000,393.000000,393.000000,3.930000e+02,393.000000,393.000000,393.000000,393.000000,393.000000,393.000000
mean,9.270163e+04,4.850543e+04,7.407841e+04,3.610144e+04,223.854962,836.946565,2821.977099,3.896921e+04,6907.977099,3620.656489,...,1443.516539,3964.737913,6619.498728,1.969160e+04,1305.320611,570.231552,1551.882952,900.142494,128.659033,17.666667
std,6.196723e+05,3.223965e+05,6.869665e+05,2.398420e+05,1492.418005,5706.647400,19051.821044,2.595694e+05,46620.544573,11645.354307,...,9189.214604,26175.388892,19971.010066,1.691587e+05,9888.025527,4041.608738,10399.786776,6412.516031,1113.946242,169.992582
min,1.100000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.194700e+04,1.213900e+04,8.461000e+03,9.128000e+03,40.000000,80.000000,300.000000,6.573000e+03,137.000000,0.000000,...,3.000000,51.000000,10.000000,6.770000e+02,162.000000,70.000000,104.000000,42.000000,11.000000,0.000000
50%,3.302500e+04,2.067800e+04,1.898400e+04,1.537900e+04,77.000000,134.000000,640.000000,1.690400e+04,1445.000000,81.000000,...,12.000000,564.000000,128.000000,5.852000e+03,345.000000,190.000000,324.000000,114.000000,33.000000,3.000000
75%,5.070400e+04,2.851400e+04,2.573200e+04,2.074900e+04,137.000000,288.000000,1609.000000,2.402100e+04,4485.000000,2397.000000,...,263.000000,2735.000000,6623.000000,1.235100e+04,891.000000,362.000000,998.000000,488.000000,75.000000,9.000000
max,1.214391e+07,6.354211e+06,1.245735e+07,4.729288e+06,29325.000000,109640.000000,369679.000000,5.104967e+06,904945.000000,140998.000000,...,167666.000000,500682.000000,197524.000000,3.337700e+06,194517.000000,79461.000000,201406.000000,124122.000000,22019.000000,3361.000000

In [57]:
df.to_csv('Group Data/cleaned2_assignment.csv',index=False)